<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pagina de inicio</title>
    <LINK REL="stylesheet" href="/static/css/estilos.css">
</head>
<body>
<div class="container">
    <h2>Calculo de compras </h2>
  <form  method = "post">
        <div class="form-group">
            <label for="nombre">Ingresa tu nombre</label>
            <input type="text" name="nombre" min="3" max="20" required><br>

        </div>

        <div class="form-group">
            <label for="edad">ingresa tu edad</label>
            <input type="number" name="edad" min="1" max="99" required><br>

        </div>
        <div class="form-group">
            <label for="pintura">Ingresa la cantidad de tarros de pintura a comprar</label>
            <input type="number" name="tarros" min="1" max="70" required><br>

        </div>

        <div class="form-group">
            <input type="submit" value="calcular" ID="submit3">
        </div>
    </form>

    <p>python es la luz</p>
</div>

</body>
</html>