<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pagina de inicio</title>
    <LINK REL="stylesheet" href="/static/css/estilos.css">
</head>
<body>
<div class="container" >
    <h2>Bienvenido al examen </h2>

       <div class="form-group">
         <form action="/ejercicio1" method="GET"  >
                <input type= "submit" ID="submit1"  value="ejercicio 1" >
            </form>
        </div>
        <div class="form-group">
            <form action="/ejercicio2" method="GET" >
                <input type="submit" id="submit2" value="ejercicio 2" >
            </form>
        </div>



</div>
</body>
</html>