<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pagina de inicio</title>
    <LINK REL="stylesheet" href="/static/css/estilos.css">
</head>
<body>
<div class="container">
    <h2>inicio de sesion</h2>
    <form method="POST">
        <div class="form-group">
            <label for="usuario1">Ingresa tu nombre :</label>
            <input type="text" name="usuario" max="70" required><br>

        </div>
        <div class="form-group">
            <label for="pass1">Ingresa tu contraseña:</label>
            <input type="text" name="pass" max="70" required><br>

        </div>


        <div class="form-group">
            <input type="submit" value="calcular" ID="submit3">
        </div>
    </form>
    <P>{{mensaje}}</P>

</div>

</body>
</html>